<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} LAYOUT!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>
            .container{
                border: 1px solid black;
                background: #eee;
                width: 85%;
                height:300px;
            }
        </style>
    </head>
    <body>
        {% spaceless %}
        <div class="container">
            {% block container %}
                Contenido por defecto
            {% endblock %}
            
        </div>
        {% endspaceless %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
